body {
	background-color: rgb(138,138,138);
	padding: 0;
	width: auto;
	color: #051c20;
	/* color: #0e414a; */
}
.row {
	max-width: 100%;
}
div {
	padding: 0px;
}
p.article{
	text-align: justify;
}
.logo {
	padding: 17px;
	background-color: #3c9be0;
	text-align: center;
	color: #d8d8d8;
}

img.logo {
	/* width: 128px; */
	padding-top: 10px;

}
svg {
	width: 128px;
		height: 128px;
		fill: currentColor;
		vertical-align: bottom;
}
svg.logo {
	color: aqua;
}

.content {
	padding: 23px;
	background-color: #d8d8d8;
}

.warning {
	background-color: rgba(255,40,40,0.3);
}

.info {
}

a.featured {
	background-color: #3999f8;
	padding: 20px;
	padding-left: 100px;
	color: white;
	font-size: 150%;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}

i.fi-download {
    display: inline-block;
    position: absolute;
    font-size: 210%;
    vertical-align: middle;
    border-radius: 90px;
    padding-top: 15px;
    height: 90px;
    width: 90px;
    background-color: #02ad5b;
    margin: -30px 0 0 -100px;
}
i.fi-download:hover {
    background-color: #00d46e;
}

i.fi-bitcoin-circle {
	vertical-align: middle;
	color: #FF8940;
	font-size: 64px;
}

.download {
	padding: 23px;
	text-align: center;
}

.panel {
	padding: 10px;
	border-radius: 5px;
}

.success-text {
	color: #00bb62;
}

a.donate {
	text-align: center;
}
.footer {
	padding: 17px;
}
.blockchain-logo {
	width: 48px;
}
.donate {
	text-align: center;
	padding: 10px;
	color: #c0d2d7;
	background-color: #353535;
}
.footer {
	background-color: rgb(44, 43, 43);
	color: rgb(192, 210, 215);
	padding: 0;
}
p.footer {
	margin-bottom: 0;
	font-size: 70%;
	text-align: right;
}
.lang-menu{
	float: right;
	background-color: #353535;
	margin: 0;
	padding: 0;
}
.lang-button{
	text-decoration: none;
	background-color: transparent;
	margin: 0;
	
}
.info-panel{
	background-color: rgb(255, 137, 64);
	text-align: center;
}

.bot-area{
	background-color: #303030;
	color: #c0d2d7;
}
.bot-list{
	list-style: none;
}

.top-bar{
	background-color: #5D6468;
	margin: 0;
	padding: 0;
}

.top-bar ul {
	background-color: #5D6468;
	margin: 0;
	padding: 0;
}

.top-bar-menu {
		background-color: #5D6468;

}

.code {
	font-size: 10px;
}
